<div class="bg-[#112B3C] pattern-bg">
  <div class="grid justify-center items-center container mx-auto h-96">
    <h2 class="text-white text-5xl">DROP CALENDAR</h2>
    <div class="flex justify-around pb-10">
      <div>
        <button class="py-1.5 px-3 rounded-md border-2 text-white border-bg-white-900">Ressell</button>
      </div>
      <div>
        <button class="py-1.5 px-3 rounded-md border-2 text-white border-bg-white-900">Brand</button>
      </div>
      <div>
        <button class="py-1.5 px-3 rounded-md border-2 text-white border-bg-white-900">Search</button>
      </div>
    </div>
  </div>
</div>
