<div class="bg-[#112B3C] py-4 sticky top-0 flex z-9">
  <div class="flex justify-between container mx-auto items-center">
    <div>
      <h2 class="text-white text-2xl">SNKRS<span class="text-[#F66B0E] font-bold text-2xl">.</span></h2>
    </div>
    <div>
      <button class="bg-[#F66B0E] py-1 px-4 rounded-md text-white font-medium">Login</button>
    </div>
  </div>
</div>
