<div class="grid grid-cols-2 gap-4 flex justify-between">
  <div class="bg-red-200 p-4">
    <%= @sneaker.name %>
    <%= @sneaker.drop_date %>
  </div>
   <div class="bg-green-200">
    b
  </div>
</div>
