/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');
 /* TITLES */
h1, h2, h3, h4 {
  font-family: 'Monda', sans-serif;
}
 /*
 MAIN: 112B3C -- Deep blue
 SECOND: 205375 -- Clear blue
 3RD: F66B0E -- Orange
 4TH: EFEFEF -- Grey
 */

 .pattern-bg {
  background-color:hsla(203,55%,15%,1);
  background-image:
  radial-gradient(at 0% 100%, hsla(204,57%,29%,1) 0px, transparent 50%),
  radial-gradient(at 97% 59%, hsla(204,56%,28%,1) 0px, transparent 50%);
 }

 .grey-emoji {
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}
